{% extends 'baseblock.html' %}


{% block title %}
    Overview_demo
{% endblock %}

{% block content %}

    <section class="content">
        <div class="row">
            <!-- row -->

            <!-- Maps showing the deployment of 5G sites per month and accumulated -->
            <div class="col-md-12">

                <div class="box box-success">

                    <div class="box-body">
                        <p>This is overview page</p>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>


        </div>
        <!-- /.row -->

    </section>
{% endblock %}
